@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Space Mono");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  padding: none;
  margin: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #1e1e1e;
}
:root {
  --Scarecrow: url("https://raw.githubusercontent.com/Petsamuel/error-page/main/assets/images/Scarecrow.png");
  --font1: "Inconsolata";
  --line-height: 36px;
  --letter-spacing: -0.035em;
  --text-color: #a2a2a2;
}
main {
  height: screen;
  padding: 0px 5%;
  box-sizing: border-box;
  height: 100%;
}

.intro-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #929292;
  margin-bottom: 5%;
}

.intro-text {
  font-family: var(--font1);
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.Scarecrow {
  content: var(--Scarecrow);
  width: 50%;
}

.error-text {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
  color: #929292;
}

.error-heading {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
  color: #929292;
}

.button {
  width: 216px;
  height: 68px;
  background: #333333;
  font-family: "Space Mono";
  display: flex;
  justify-content: center;
}
a {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  align-self: center;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0px;
  padding: 1rem;
}
.footer-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
}

@media screen and (max-width: 360px), (max-width: 750px) {
  .Scarecrow {
    content: var(--Scarecrow);
    width: 100%;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .error-heading {
    font-size: 28px;
    line-height: 71px;
  }

  .error-text {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  .button {
    width: 216px;
    height: 68px;
    background: #333333;
    display: flex;
    text-align: center;
  }

  a {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    align-self: center;
  }
}
